ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_ASSET_PATHS="queensbladelimithelper/Preview Content"
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation=YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchScreen_Generation=YES
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone=UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
MARKETING_VERSION=1.0
PRODUCT_BUNDLE_IDENTIFIER=com.leesam.gamehelper.queensbladelimit
PRODUCT_NAME=$(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER=
SUPPORTED_PLATFORMS=iphoneos iphonesimulator
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD=NO
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

CODE_SIGN_IDENTITY[config=Debug]=Apple Development
CODE_SIGN_IDENTITY[sdk=iphoneos*][config=Release]=iPhone Distribution
CODE_SIGN_STYLE[config=Debug]=Automatic
CODE_SIGN_STYLE[config=Release]=Manual
DEVELOPMENT_TEAM[config=Debug]=M29A6H95KD
DEVELOPMENT_TEAM[config=Release]=
DEVELOPMENT_TEAM[sdk=iphoneos*][config=Release]=M29A6H95KD
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*][config=Release]=QueensBladeLimitHelper